body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.responsive-text h1 {
  font-size: 2rem;
}

.responsive-text p {
  font-size: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .responsive-text h1 {
    font-size: 2.5rem;
  }

  .image-transition-container {
    flex-direction: column;
  }
  .carousel_slide {
    flex-direction: column;
  }

  .responsive-text p {
    font-size: 1.25rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .responsive-text h1 {
    font-size: 3rem;
  }

  .responsive-text p {
    font-size: 1.5rem;
  }
}

.clamp-text {
  font-size: clamp(1rem, 4vw, 3rem); /* Minimum: 1rem, Preferred: 4vw, Maximum: 3rem */
}
